{% extends template_base %}
{% load filters %}

{% block body%}
<div class="ui stackable grid container">
    {% if staff %}
    <div class="three wide column">
        <div class="ui olive card">
            <div class="content">
                <img class="right floated ui large image" src="{{ staff |person_picture }}">
                <div class="header">{{ staff.user.get_full_name|title }}</div>
                <div class="meta">{{ staff.position }}</div>
                </div>
            <div class="content">
                <div class="description">
                    <h5 class="ui header">Email</h5>{{ staff_user | email }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
	<div class="thirteen wide column standard">
		<form class="ui {% if user_form.errors or staff_form.errors %} error {%endif%}form"  action="" method="post"  enctype="multipart/form-data">
			{% csrf_token %}
			<h2 class="ui dividing header blue">{% if edit %}Edit{% else %}Add a{% endif %} Staff</h2>
			{% if user_form.non_field_errors%}
			<div class="ui error message">
			{% for error in user_form.non_field_errors%}
				{{ error }}
			{% endfor %}	
			</div>
			{% endif %}
			{% if staff_form.non_field_errors%}
			<div class="ui error message">
			{% for error in staff_form.non_field_errors%}
				{{ error }}
			{% endfor %}	
			</div>
			{% endif %}
			<h4 class="ui dividing header olive">User Information</h4>
			<div class="field">
				{% if user_form.username.errors %}
				<div class="ui error message">
					{% for error in user_form.username.errors%}
						{{ error }}
					{% endfor %}
				</div>
				{% endif %}
				<label>Username</label>
				{{ user_form.username }}
			</div>

			<div class="field">
				{% if user_form.password1.errors or user_form.password2.errors %}
				<div class="ui error message">
					{% for error in user_form.password1.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
					{% for error in user_form.password2.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
				</div>
				{% endif %}
				<label>Password</label>
                {% if edit %}
                    <div class="ui message">
                        Raw passwords are not stored, so there is no way to see this user's password, but you can change the password using <a href="#">this form</a>.
                    </div>
                {% else %}
				<div class="two fields">
					<div class="field">
						{{ user_form.password1 }}
					</div>
					<div class="field">
						{{ user_form.password2}}
					</div>
				</div>
                {% endif %}
			</div>
			<h4 class="ui dividing header olive">Personal Information</h4>
			<div class="field">
				{% if user_form.first_name.errors or user_form.last_name.errors %}
				<div class="ui error message">
					{% for error in user_form.first_name.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
					{% for error in user_form.last_name.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
				</div>
				{% endif %}
				<label>Name</label>
				<div class="two fields">
					<div class="field">
						{{ user_form.first_name }}
					</div>
					<div class="field">
						{{ user_form.last_name }}
					</div>
				</div>
			</div>
            <div class="field">
                {% if staff_form.gender.errors %}
                    <div class="ui error message">
                        {% for error in staff_form.gender.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <label>Gender</label>
                {{ staff_form.gender }}
            </div>
			<div class="field">
				{% if staff_form.position.errors %}
				<div class="ui error message">
					{% for error in staff_form.position.errors%}
						{{ error }}
					{% endfor %}
				</div>
				{% endif %}
				<label>Position</label>
				{{ staff_form.position }}
			</div>
			<div class="two fields">
				<div class="field">
					<label>Email</label>
					{{ user_form.email }}
					{% if user_form.email.errors %}
					<div class="ui error message">
						{% for error in user_form.email.errors%}
							{{ error }}
						{% endfor %}
					</div>
					{% endif %}
				</div>
				<div class="field">
					<label>National Code</label>
					{{ staff_form.national_code }}
					{% if staff_form.national_code.errors %}
					<div class="ui error message">
						{% for error in staff_form.national_code.errors%}
							{{ error }}
						{% endfor %}
					</div>
					{% endif %}
					
				</div>
			</div>
			<div class="field">
				{% if staff_form.address.errors %}
				<div class="ui error message">
					{% for error in staff_form.address.errors%}
						{{ error }}
					{% endfor %}
				</div>
				{% endif %}
				<label>Address</label>
				{{ staff_form.address}}
			</div>
			<div class="field">
				{% if staff_form.office_number.errors or staff_form.mobile_number.errors %}
				<div class="ui error message">
					{% for error in staff_form.office_number.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
					{% for error in staff_form.mobile_number.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
				</div>
				{% endif %}
				<label>Phone Number</label>
				<div class="two fields">
					<div class="field">
						{{ staff_form.phone_number}}
					</div>
					<div class="field">
						{{ staff_form.mobile_number}}
					</div>
				</div>
			</div>
            <div class="field">
                <label>Profile Picture</label>
                {% if staff_form.picture.errors %}
				<div class="ui error message">
					{% for error in staff_form.picture.errors%}
						{{ error }}
					{% endfor %}
				</div>
				{% endif %}
                <div class="ui message">
                    {{ staff_form.picture}}
                </div>
            </div>
			

			<input type="submit" class="ui fluid button blue" value="{% if edit %}Edit{% else %}Create{% endif %} Staff">
		</form>
	</div>
</div>
{% endblock %}