{% extends template_base %}
{% load filters %}

{% block body%}
<div class="ui stackable grid container">
    {% if surgeon %}
    <div class="three wide column">
        <div class="ui olive card">
            <div class="content">
                <img class="right floated ui large image" src="{{ surgeon |person_picture }}">
                <div class="header">{{ surgeon.user.get_full_name|title }}</div>
                <div class="meta">{{ surgeon.proficiency.proficient_title }}</div>
                </div>
            <div class="content">
                <div class="description">
                    <h5 class="ui header">Email</h5>{{ surgeon | email }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
	<div class="thirteen wide column">
		<form class="ui {% if user_form.errors or surgeon_form.errors %} error {%endif%}form"  action="" method="post"  enctype="multipart/form-data">
			{% csrf_token %}
			<h2 class="ui dividing header blue">{% if edit %}Edit{% else %}Add a{% endif %} {% if surgeon_user %}Profile{% else %}Surgeon{% endif %}</h2>
			{% if user_form.non_field_errors%}
			<div class="ui error message">
			{% for error in user_form.non_field_errors%}
				{{ error }}
			{% endfor %}	
			</div>
			{% endif %}
			{% if surgeon_form.non_field_errors%}
			<div class="ui error message">
			{% for error in surgeon_form.non_field_errors%}
				{{ error }}
			{% endfor %}	
			</div>
			{% endif %}
			<h4 class="ui dividing header olive">User Information</h4>
			<div class="field">
				{% if user_form.username.errors %}
				<div class="ui error message">
					{% for error in user_form.username.errors%}
						{{ error }}
					{% endfor %}
				</div>
				{% endif %}
				<label>Username</label>
				{{ user_form.username }}
			</div>

			<div class="field">
				{% if user_form.password1.errors or user_form.password2.errors %}
				<div class="ui error message">
					{% for error in user_form.password1.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
					{% for error in user_form.password2.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
				</div>
				{% endif %}
				<label>Password</label>
                {% if edit %}
                    <div class="ui message">
                        Raw passwords are not stored, so there is no way to see this user's password, but you can change the password using <a href="#">this form</a>.
                    </div>
                {% else %}
				<div class="two fields">
					<div class="field">
						{{ user_form.password1 }}
					</div>
					<div class="field">
						{{ user_form.password2}}
					</div>
				</div>
                {% endif %}
			</div>
			<h4 class="ui dividing header olive">Personal Information</h4>
			<div class="field">
				{% if user_form.first_name.errors or user_form.last_name.errors %}
				<div class="ui error message">
					{% for error in user_form.first_name.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
					{% for error in user_form.last_name.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
				</div>
				{% endif %}
				<label>Name</label>
				<div class="two fields">
					<div class="field">
						{{ user_form.first_name }}
					</div>
					<div class="field">
						{{ user_form.last_name }}
					</div>
				</div>
			</div>
			<div class="field">
				{% if surgeon_form.proficiency.errors %}
				<div class="ui error message">
					{% for error in surgeon_form.proficiency.errors%}
						{{ error }}
					{% endfor %}
				</div>
				{% endif %}
				<label>Proficiency</label>
				{{ surgeon_form.proficiency }}
			</div>
			<div class="three fields">
				<div class="field">
					<label>Email</label>
					{{ user_form.email }}
					{% if user_form.email.errors %}
					<div class="ui error message">
						{% for error in user_form.email.errors%}
							{{ error }}
						{% endfor %}
					</div>
					{% endif %}
					
				</div>
				<div class="field">
					<label>National Code</label>
					{{ surgeon_form.national_code }}
					{% if surgeon_form.national_code.errors %}
					<div class="ui error message">
						{% for error in surgeon_form.national_code.errors%}
							{{ error }}
						{% endfor %}
					</div>
					{% endif %}
					
				</div>
				<div class="field">
					<label>Medical Number</label>
					{{ surgeon_form.medical_id }}
					{% if surgeon_form.medical_id.errors %}
					<div class="ui error message">
						{% for error in surgeon_form.medical_id.errors%}
							{{ error }}
						{% endfor %}
					</div>
					{% endif %}
					
				</div>
			</div>
            <div class="field">
                {% if surgeon_form.gender.errors %}
                    <div class="ui error message">
                        {% for error in surgeon_form.gender.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <label>Gender</label>
                {{ surgeon_form.gender }}
            </div>
			<div class="field">
				{% if surgeon_form.address.errors %}
				<div class="ui error message">
					{% for error in surgeon_form.address.errors%}
						{{ error }}
					{% endfor %}
				</div>
				{% endif %}
				<label>Address</label>
				{{ surgeon_form.address}}
			</div>
			<div class="field">
				{% if surgeon_form.office_number.errors or surgeon_form.mobile_number.errors %}
				<div class="ui error message">
					{% for error in surgeon_form.office_number.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
					{% for error in surgeon_form.mobile_number.errors%}
						<p>
						{{ error }}
						</p>
					{% endfor %}
				</div>
				{% endif %}
				<label>Phone Number</label>
				<div class="two fields">
					<div class="field">
						{{ surgeon_form.office_number}}
					</div>
					<div class="field">
						{{ surgeon_form.mobile_number}}
					</div>
				</div>
                <div class="ui field">
                    <label>Profile Picture</label>
                    <div class="ui message">
                        {{ surgeon_form.picture}}
                    </div>
                </div>
			</div>
            <div class="ui two buttons">
            {% include 'createButton.html' with user=surgeon_user type='Surgeon' %}
            {% include 'discardButton.html' with url='manage_surgeons' %}
            </div>
		</form>
	</div>
</div>
{% endblock %}