{% extends template_base%}

{% block body%}
<div class="ui stackable grid centered container">
	<div class="thirteen wide column standard">
		<form class="ui {% if form.errors %} error {%endif%} form"  action="" method="post"  enctype="multipart/form-data">
			{% csrf_token %}
			<h2 class="ui dividing header blue">{% if edit %}Edit{% else %}Add an{% endif %} Alignment Parameter</h2>
			{% if form.non_field_errors%}
				<div class="ui error message">
				{% for error in form.non_field_errors%}
					{{ error }}
				{% endfor %}	
				</div>
			{% endif %}
			{% for field in form%}
			<div class="field">
				{% if field.errors%}
				<div class="ui error message">
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				</div>
				{% endif %}
				<label>{{field.label}}</label>
				{{ field }}
			</div>
			{% endfor %}
            <div class="ui two buttons">
			<input type="submit" class="ui fluid button blue" value="{% if edit %}Save{% else %}Create Alignment Parameter{% endif %}">
		    {% include 'discardButton.html' with url='manage_alignment_parameter_names' %}
            </div>
        </form>
	</div>
</div>
{% endblock %}


