{% extends template_base %}
{% load filters %}
{% block body %}
    <div class="ui container">
        <div class="ui clearing olive segment" style="background-color: #f3f3f3;">
            <a class="ui labeled icon tiny blue button" style="float:right;" href="{% url 'create_patient' %}">
                <i class="ui plus icon"></i>
                New Patient
            </a>
            <h2 class="ui header">
                <i class="handicap icon"> </i>
                <div class="content">
                    Find Patient
                    <div class="sub header">Find a patient with his personal information.</div>
                </div>
            </h2>
            <div class="ui divider"></div>
            <form class="ui form" method="post" action="">
            {% csrf_token %}
                <div class="three fields">
                    {% for field in search_patient_form %}
                        <div class="field">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="ui teal right floated button" name="search_patient">
                    <i class="search icon"></i>
                    Filter
                </button>
            </form>
            <h3 class="ui dividing green header">
                Patients
            </h3>
            <div class="content">
            <!--
                <div class="ui {% ifequal search_results.count 0 %}error{% else %}teal{% endifequal %} compact message">
                    Search returned {{ search_results.count }} result{% ifequal search_results.count 1%}{% else %}s{% endifequal %}.
                </div>
            -->
                <div class="ui four link cards">
                {% for patient in search_results%}
                    {% include 'patientCard.html' with patient=patient operation=True%}
                {% endfor %}
                </div>
            <!--
                <table class="ui blue celled table">
                    <thead>
                        <th>Patient</th>
                        <th>Username</th>
                        <th>National Code</th>
                        <th>Gender</th>
                    </thead>
                    <tbody>
                        {% for patient in search_results %}
                            <tr>
                                <td>
                                    <a class="ui image header" href="{% url 'edit_patient' patient_id=patient.id %}">
                                        <img src="{{ patient|person_picture }}" class="ui mini rounded image"/>
                                        <div class="content">{{ patient.user.get_full_name|title }}
                                            <div class="sub header">{{ patient.age|age }}</div>
                                        </div>
                                    </a>
                                    <div class="ui right floated buttons">
                                        <a class="ui basic green button" href="{% url 'view_patient' patient_id=patient.id %}">
                                            View Profile
                                        </a>
                                        <a class="ui basic teal button" href="{% url 'edit_patient' patient_id=patient.id %}">
                                            Edit Profile
                                        </a>
                                        <a class="ui basic blue button" href="{% url 'create_order' patient_id=patient.id %}">
                                            Create Order
                                        </a>
                                        <a class="ui basic red button delete_patient" data-id="{{ patient.id }}">
                                            Delete Patient
                                        </a>
                                    </div>
                                </td>
                                <td>
                                   {{ patient.user.username }}
                                </td>
                                <td>
                                    {{ patient.national_code }}
                                </td>
                                <td>
                                    {{ patient.gender }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> -->
            </div>
        </div>
        <!--
        <div class="ui clearing olive segment" style="background-color: #f3f3f3; margin-top: 50px;">
            <a class="ui labeled icon tiny blue button" style="float:right;" href="{% url 'create_patient' %}">
                <i class="ui plus icon"></i>
                New Patient
            </a>
            <h2 class="ui header">
                <i class="handicap icon"> </i>
                <div class="content">
                    Edit Patients
                    <div class="sub header">Click on  the patient's name to edit.</div>
                </div>
            </h2>
            <div class="ui divider"></div>
            <table class="ui blue sortable celled table">
                <thead>
                    <th>Patient</th>
                    <th>Username</th>
                    <th>National Code</th>
                    <th>Gender</th>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr href="home">
                            <td>
                                <a class="ui image header" href="{% url 'edit_patient' patient_id=patient.id %}">
                                    <img src="{{ patient|person_picture }}" class="ui mini rounded image"/>
                                    <div class="content">{{ patient.user.get_full_name|title }}
                                        <div class="sub header">{{ patient.age|age }}</div>
                                    </div>
                                </a>
                                <div class="ui right floated buttons">
                                    <a class="ui basic green button" href="{% url 'view_patient' patient_id=patient.id %}">
                                        View Profile
                                    </a>
                                    <a class="ui basic teal button" href="{% url 'edit_patient' patient_id=patient.id %}">
                                        Edit Profile
                                    </a>
                                    <a class="ui basic blue button" href="{% url 'create_order' patient_id=patient.id %}">
                                        Create Order
                                    </a>
                                    <a class="ui basic red button delete_patient" data-id="{{ patient.id }}">
                                            Delete Patient
                                    </a>
                                </div>
                            </td>
                            <td>
                               {{ patient.user.username }}
                            </td>
                            <td>
                                {{ patient.national_code }}
                            </td>
                            <td>
                                {{ patient.gender }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> -->
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).on('ready', function(){
            $('.delete_patient').on('click', function(){
                var $patient_id = $(this).attr('data-id');
                if(confirm('Are you sure you want to delete this patient?')){
                    $.ajax({
                        url: '/ajax/delete/patient/'+$patient_id ,
                        success: function(){
                                    window.location.href="{% url 'manage_patients' %}" ;
                        }
                    })
                }
            });
            $('.special.card .image').dimmer({
                  on: 'hover'
                });
        });
    </script>
{% endblock %}