{% load filters %}
<a class="ui link blue special card">
    <div class="{% if operation %}bluring dimmable{% endif %} image">
        {% if operation %}
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui two buttons" style="display: block;">
                        <div class="ui  blue button" onclick='window.location.href="{% url 'view_patient' patient_id=patient.id %}"'>
                            View Orders
                        </div>
                        <div class="ui  teal button" onclick='window.location.href="{% url 'create_order' patient_id=patient.id %}"'>
                            Create Order
                        </div>

                    </div>
                    <div class="ui two buttons" style="display: block; margin-top:10px;">
                        <div class="ui violet button" onclick="window.location.href='{% url 'edit_patient' patient_id=patient.id %}'">
                            Edit
                        </div>
                        <div class="ui red button delete_patient" data-id="{{ patient.id }}">
                            Delete
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <img src="{{ patient | person_picture }}"/>
    </div>
    <div class="content">
        <div class="header">{{ patient.user.get_full_name|title }}</div>
        <div class="meta">{{ patient.age|age }}</div>
        <div class="description">
            {{ patient|description }}
        </div>
        <div class="description">
            Patient Code: {{ patient.code }}
        </div>
        {% if patient.mobile_number %}
            <div class="description">
                Mobile Number: {{ patient.mobile_number }}
            </div>
        {% endif %}
        {% if patient.user.email %}
            <div class="description">
                Email: {{ patient.user.email }}
            </div>
        {% endif %}
    </div>
</a>
