{% extends 'base.html' %}
{% load filters %}
{% block page_header %}
    <nav class="ui inverted blue clearing segment" style="border-radius: 0;">
        <div class="ui divided horizontal inverted tiny middle aligned link list">
            <a class="active item" href="{% url 'home' %}">
                <img class="ui avatar image" src="{{ patient_user|picture }}">
                <div class="content">
                  <div class="header">{{ patient_user.user.get_full_name|title }}</div>
                  {{ patient_user.age|age }}
                </div>
            </a>
            <a class="icon item" href="{% url 'home' %}">
                Home
            </a>
            <a class="item" href="{% url 'edit_patient' patient_id=patient_user.id %}">
                Profile
            </a>
            <a class="item" href="{% url 'logout' %}">
                Logout
            </a>


        </div>
    </nav>
{% endblock %}