{% extends template_base %}
{% load filters %}

{% block body %}
    <div class="ui container">
        <div class="ui grid">
            <div class="three wide column">
                <a class="ui olive card" href="{% url 'view_patient' patient_id=patient.id %}">
                    <div class="content">
                        <img class="right floated ui large image" src="{{ patient|person_picture }}">
                        <div class="header">{{ patient.user.get_full_name|title }}</div>
                        <div class="meta">{{ patient.age|age }}</div>
                        <div class="description">{{ patient|description }}</div>
                    </div>
                </a>
            </div>
            <div class="thirteen wide column">
                <h2 class="ui olive header">Orders</h2>
                <div class="ui divider"></div>
                {% for order in orders %}
                    <div class="ui fluid teal card">
                        <div class="content">
                            <div class="header">
                                Order {{ forloop.counter }}
                            </div>
                            <div class="meta">
                                {{ order | object_date }}
                            </div>
                            <div class="ui divider"></div>
                            <div class="description">
                                <div class="ui">
                                    <strong>Patient: </strong>{{ order.patient.user.get_full_name | title }}
                                </div>
                                <div class="ui">
                                    <strong>Surgeon: </strong>{{ order.surgeon.user.get_full_name | title }}
                                </div>
                                <div class="ui" style="margin-top:10px;">
                                    <div class="ui  message">
                                        {{ order | diagnosis }}
                                    </div>
                                </div>
                                <div class="ui three buttons" style="margin-top: 10px;">
                                    <div class="ui basic blue {% ifequal order.report none %} disabled {% endifequal %}button" onclick="window.location.href='{% url 'view_report' order_id=order.id %}'">View Report</div>
                                    <div class="ui basic teal {% ifequal order.guide_set.all.count 0%} disabled {% endifequal %}button" onclick="window.location.href='{% url 'view_guides' order_id=order.id %}'">View Guides</div>
                                    <div class="ui basic violet {% ifequal order.preplanning_set.all.count 0%} disabled {% endifequal %}button" onclick="window.location.href='{% url 'view_pre_plannings' order_id=order.id %}'">View PrePlannings</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}